@font-face {
  font-family: sansation;
  src: url("Sansation_Bold.ttf");
}
* {
  box-sizing: border-box;
}

/* font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Exo', sans-serif; */

/* General stuff */
/* ==================== */
html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  background: url("../assets/gallerybg.svg"),
    linear-gradient(to bottom, #fdc830, #f37335);

  background-size: 100px;
  font-size: 0.9rem;
}

h2 {
  font-size: 2rem;
  font-weight: 100;
}

header {
  background: linear-gradient(to top, #1c1c1c, #000000);
  color: white;
  box-sizing: border-box;
}

.top-bar {
  display: grid;
  grid-template-columns: 200px auto;
}
.logo > img {
  max-width: 200px;
  min-width: 180px;
}
.site-heading {
  justify-self: center;
}
.container {
  max-width: 960px;
  margin: auto;
}
footer {
  height: 30px;
  background: black;
  color: rgba(255, 255, 255, 0.335);
  text-align: center;
  line-height: 30px;
}

/*    Some redundant code   */
/* ======================== */
.overlay {
  background: #ffffffcc;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 750px;
  height: 500px;
  z-index: 100;
}
.overlay-image {
  max-width: 300px;
  max-width: auto;
}
.display-img > img {
  max-width: 320px;
}
/* ======================== */

/*    Main photo grid    */
/* ====================  */
.main-display {
  position: relative;
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}
.gallery-grid img {
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
}
.display-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.img-div {
  position: relative;
  overflow: hidden;
}
/* Doesnt work */
/* .img-div img::after {
  content: "";
  width: 300px;
  height: 100px;
  background: red;
  margin-bottom: -100px;
  z-index: 999;
} */
.slideup {
  visibility: hidden;
  position: absolute;
  bottom: 5px;
  background: rgba(0, 0, 0, 0.7);
  color: #ffffffaf;
  font-family: "Exo", sans-serif;
  text-transform: uppercase;
  width: 100%;
  border-radius: 7px;
  height: 0px;
  transition: all 0.3s;
}
.img-div:hover .slideup {
  visibility: visible;
  height: 398px;
  cursor: pointer;
  text-align: center;
  line-height: 98px;
}
.slideup i {
  display: block;
  height: 50%;
  line-height: 390px;
  font-size: 24px;
}
.slideup-name {
  font-size: 1rem;
  color: #f4f4f4;
}

/*  New Modal window  */
/* ==================== */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #000000aa;
}
.modal-content {
  background-color: #f4f4f4;
  margin: 20% auto;
  width: 680px;
  height: 427px;
  box-shadow: 0 5px 8px 0 #00000088, 0 7px 20px 0 #00000031;
  animation-name: modalopen;
  animation-duration: 0.6s;
}
.modal-wrapper {
  display: grid;
  grid-template-rows: 1fr auto;
}

.details {
  padding: 10px;
  color: #00000083;
}
.fullName {
  color: #e17305;
  font-size: 18px;
}
button {
  max-width: 80px;
  padding: 0.4rem 1rem 0.4rem 1rem;
  border: none;
  color: #fcfcfc;
  text-align: center;
  font-size: 14px;
  border-radius: 2px;
  background-color: #e17305;
  background-image: linear-gradient(to bottom, #fa9026, #e17305);
}
.nextBtn {
  margin-left: 110px;
  margin-top: 10px;
}
.closeBtn {
  color: #979797;
  float: right;
  font-size: 30px;
  padding: 0 10px;
}
.closeBtn:hover {
  color: #fa9026;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Mobile screens  */
@media only screen and (max-width: 660px) {
  .top-bar {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto;
  }
  .logo {
    justify-self: center;
    text-align: center;
  }
  .logo img {
    width: 100%;
    max-width: 200px;
  }
  .top-bar {
    display: grid;
  }
  .site-heading {
    grid-area: 2/1;
    text-align: center;
  }
  .gallery-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}
